logging:
  level:
    no.einnsyn: ${LOG_LEVEL:INFO}
    #org.springframework.web:
    #hibernate: DEBUG
    #hibernate.SQL: DEBUG
    #hibernate.orm.jdbc.bind: TRACE
    #springframework: TRACE
    #elasticsearch: DEBUG

server:
  error:
    whitelabel:
      enabled: false
  tomcat:
    relaxed-query-chars: "[,]"
  compression:
    enabled: true
    mime-types: application/json, application/xml, text/html, text/xml, text/plain, application/javascript, text/css
    min-response-size: 1024

application:
  userSecretExpirationTime: ${USER_SECRET_EXPIRY:86400} # 24 hours
  baseUrl: ${BASE_URL:http://localhost:8080}
  elasticsearch:
    index: ${ELASTICSEARCH_ACTIVE_INDEX:test}
    uri: ${ELASTICSEARCH_URIS:http://localhost:9200}
    percolatorIndex: ${ELASTICSEARCH_PERCOLATOR_INDEX:percolator_queries}
    concurrency: ${ELASTICSEARCH_CONCURRENCY:5}
    reindexer:
      getBatchSize: ${ELASTICSEARCH_REINDEXER_GET_BATCH_SIZE:1000}
      indexBatchSize: ${ELASTICSEARCH_REINDEXER_INDEX_BATCH_SIZE:1000}
      saksmappeSchemaTimestamp: ${ELASTICSEARCH_REINDEXER_SAKSMAPPE_SCHEMA_TIMESTAMP:2024-09-19T18:03:00Z}
      journalpostSchemaTimestamp: ${ELASTICSEARCH_REINDEXER_JOURNALPOST_SCHEMA_TIMESTAMP:2024-09-19T18:03:00Z}
      moetemappeSchemaTimestamp: ${ELASTICSEARCH_REINDEXER_MOETEMAPPE_SCHEMA_TIMESTAMP:2024-09-19T18:03:00Z}
      moetesakSchemaTimestamp: ${ELASTICSEARCH_REINDEXER_MOETESAK_SCHEMA_TIMESTAMP:2024-09-19T18:03:00Z}
      innsynskravSchemaTimestamp: ${ELASTICSEARCH_REINDEXER_INNSYNSKRAV_SCHEMA_TIMESTAMP:2024-09-19T18:03:00Z}
      lagretSoekSchemaTimestamp: ${ELASTICSEARCH_REINDEXER_LAGRET_SOEK_SCHEMA_TIMESTAMP:2024-09-19T18:03:00Z}
      cron:
        updateOutdated: ${ELASTICSEARCH_REINDEXER_CRON_UPDATE:0 0 * * * *} # Every hour
        removeStale: ${ELASTICSEARCH_REINDEXER_CRON_REMOVE:0 0 0 * * 6} # Every Saturday at midnight
  lagretSoek:
    maxResults: ${LAGRET_SOEK_MAX_RESULTS:10}
    notificationSchedule: ${LAGRET_SOEK_NOTIFICATION_SCHEDULE:0 0 6 * * *}
  lagretSak:
    notificationSchedule: ${LAGRET_SAK_NOTIFICATION_SCHEDULE:0 */10 * * * *}
  integrasjonspunkt:
    moveUrl: ${MOVE_URL:http://integrasjonspunkt:9093}
    orgnummer: ${IP_ORGNUMMER:000000000}
    expectedResponseTimeoutDays: ${EXPECTED_RESPONSE_TIMEOUT_DAYS:30}
  email:
    from: ${EMAIL_FROM:eInnsyn.no <test@example.com>}
    from_host: ${EMAIL_FROM_HOST:example.com}
  innsynskrav:
    retryInterval: 3_600_000
    anonymousMaxAge: 180
    cleanSchedule: ${INNSYNSKRAV_CLEAN_SCHEDULE:0 0 0 * * *}
    debugRecipient: ${INNSYNSKRAV_DEBUG_RECIPIENT:}
    verificationQuarantineHours: ${INNSYNSKRAV_BESTILLING_VERIFICATION_QUARANTINE_HOURS:1}
    verificationQuarantineLimit: ${INNSYNSKRAV_BESTILLING_VERIFICATION_QUARANTINE_LIMIT:1}
  jwt:
    encryption-secret: ${JWT_SECRET:MzfS60YlMegsOaaz4SEqU54O7OjFPLsLqaNbYJockDg=}
    accessTokenExpiration: ${JWT_EXPIRATION:3600} # 1 hour
    refreshTokenExpiration: ${JWT_REFRESH_EXPIRATION:2419200} # 28 days
    issuerUri: ${JWT_ISSUER_URI:http://localhost:8080}
  apikey:
    root-key: ${ROOT_API_KEY:secret_changeme}
  ansattportenIssuerUri: ${ANSATTPORTEN_ISSUER_URI:https://ansattporten.dev}

spring:
  application:
    name: einnsyn-backend
    environment: local
  config:
    import: optional:file:.env[.properties]
  main:
    allow-bean-definition-overriding: true
  mail:
    host: ${EMAIL_SMTP:localhost}
    port: ${EMAIL_PORT:587}
    username: ${EMAIL_USER:}
    password: ${EMAIL_PASS:}
    properties:
      mail:
        smtp:
          auth: ${EMAIL_SMTP_AUTH:false}
          protocol: ${EMAIL_SMTP_PROTOCOL:smtp}
          starttls.enable: ${EMAIL_SMTP_STARTTLS:false}
  jpa:
    open-in-view: true
    properties:
      hibernate:
        ddl-auto: validate
        session:
          events:
            log: LOG_QUERIES_SLOWER_THAN_MS=1000
        jdbc:
          fetch_size: 100
          batch_size: 100
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost/arkiv}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  http:
    converters.preferred-json-mapper: gson
  mvc:
    log-resolved-exception: false
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  flyway:
    enabled: true
    locations: classpath:db/migration
    placeholders:
      apikey-root-key: ${application.apikey.root-key}
    placeholder-replacement: true
    out-of-order: true
    ignore-missing-migrations: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${application.ansattportenIssuerUri}
  threads:
    virtual.enabled: true
  elasticsearch:
    uris: ${application.elasticsearch.uri}
    username: ${SPRING_ELASTICSEARCH_USERNAME}
    password: ${SPRING_ELASTICSEARCH_PASSWORD}

management:
  server:
    port: 8090
  endpoint:
    health:
      show-details: always
      access: read_only
    info:
      access: read_only
    metrics:
      access: read_only
    prometheus:
      access: read_only
  endpoints:
    web:
      base-path: /
      exposure:
        include: "*"
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

---
spring:
  config:
    activate:
      on-profile: test
  jpa:
    properties:
      hibernate:
        cache:
          use_second_level_cache: false
          use_query_cache: false
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:postgresql:16.3:///arkiv
    hikari:
      idle-timeout: 10000
application:
  elasticsearch:
    uri: http://unreachable.example.com:9200
    searchType: dfs_query_then_fetch
    reindexer:
      getBatchSize: 20
      indexBatchSize: 20
  innsynskrav:
    anonymousMaxAge: 1
    verificationQuarantineLimit: 10
management:
  defaults:
    metrics:
      export:
        enabled: true
---
spring:
  config:
    activate:
      on-profile: container
server:
  shutdown: graceful
logging:
  config: classpath:logback-container.xml
