{{labels.confirmAnonymousOrderTitle}}

{{labels.confirmAnonymousOrderIntro}}

{{baseUrl}}/innsynskravBestilling/{{innsynskravBestillingId}}/verify/{{verificationSecret}}

{{labels.confirmAnonymousOrderOutro}}
