{{labels.enhetVerificationRequestTitle}}

{{labels.enhetVerificationRequestIntro}}

{{labels.enhetVerificationRequestNavnLabel}}: {{navn}}
{{labels.enhetVerificationRequestOrgnummerLabel}}: {{orgnummer}}
{{labels.enhetVerificationRequestIdLabel}}: {{enhetId}}
{{labels.enhetVerificationRequestKontaktpunktEpostLabel}}: {{kontaktpunktEpost}}
{{labels.enhetVerificationRequestInnsynskravEpostLabel}}: {{innsynskravEpost}}

{{labels.enhetVerificationRequestOutro}}
