{{<index.txt.mustache}}
{{$content}}

{{ labels.title }}

Til: {{enhet.navn}}
Bestillingsdato: {{norwegianShortDate}}

Svar på dette innsynskravet ønskes sendt med epost til: {{innsynskravBestilling.epost}}

Dokumenter:
{{#innsynskravList}}
  Saksnr: {{journalpost.saksmappe.saksaar}}/{{journalpost.saksmappe.sakssekvensnummer}} | Dok nr. : {{journalpost.journalpostnummer}} | Sekvensnr.: {{journalpost.journalsekvensnummer}}
  Sak: {{journalpost.saksmappe.offentligTittelSensitiv}}
  Dokument: {{journalpost.offentligTittelSensitiv}}
  Dok.dato: {{journalpost.dokumentdato}}
  Journaldato: {{journalpost.journaldato}}
  Saksbehandler: {{saksbehandler}}
  Enhet: {{admEnhet}}

{{/innsynskravList}}

{{/content}}
{{/index.txt.mustache}}
