{{<index.html.mustache}}
  {{$content}}

    {{<primitives/h1}}
      {{$content}}
        {{labels.orderConfirmationToEnhetTitle}}
      {{/content}}
    {{/primitives/h1}}

    {{<primitives/container}}
      {{$content}}
        {{<primitives/paragraph}}
          {{$content}}

          {{ labels.orderConfirmationToEnhetIntro }}

          {{labels.orderConfirmationToEnhetLabel}}: {{enhet.navn}}<br>
          {{labels.orderConfirmationToEnhetOrderDateLabel}}: {{norwegianShortDate}}<br>

          Svar på dette innsynskravet ønskes sendt med epost til: <strong>{{innsynskravBestilling.epost}}</strong><br>

          {{/content}}
        {{/primitives/paragraph}}
      {{/content}}
    {{/primitives/container}}

    {{<primitives/container}}
      {{$content}}
        {{<primitives/h2}}
          {{$content}}{{labels.orderConfirmationToEnhetDocuments}}{{/content}}
        {{/primitives/h2}}

        {{#innsynskravList}}
          {{<primitives/container}}
            {{$content}}
              {{<primitives/paragraph}}
                {{$content}}
                  Saksnr: {{saksnr}} | Dok nr. : {{dokumentnr}} | Sekvensnr.: {{journalnr}}<br>
                  Sak: {{journalpost.saksmappe.offentligTittelSensitiv}}<br>
                  Dokument: {{journalpost.offentligTittelSensitiv}}<br>
                  Dok.dato: {{journalpost.dokumentdato}}<br>
                  Journaldato: {{journalpost.journaldato}}<br>
                  Saksbehandler: {{saksbehandler}}<br>
                  Enhet: {{admEnhet}}<br>
                {{/content}}
              {{/primitives/paragraph}}
            {{/content}}
          {{/primitives/container}}
        {{/innsynskravList}}

      {{/content}}
    {{/primitives/container}}

    {{<primitives/container}}
      {{$content}}
        {{<primitives/paragraph}}
          {{$content}}{{ labels.orderConfirmationToEnhetOutro }}{{/content}}
        {{/primitives/paragraph}}
      {{/content}}
    {{/primitives/container}}

  {{/content}}
{{/index.html.mustache}}
