{{<index.txt.mustache}}
{{$content}}

{{labels.orderConfirmationToBrukerTitle}}

{{^innsynskravList}}
{{labels.orderConfirmationToBrukerEmpty}}
{{/innsynskravList}}
{{^innsynskravList.isEmpty}}
{{labels.orderConfirmationToBrukerIntro}}

{{#innsynskravGroups}}
{{#virksomhet}}{{navn}}{{/virksomhet}}{{#virksomhet}}{{#innsynskravEpost}}, {{innsynskravEpost}}{{/innsynskravEpost}}{{/virksomhet}}

{{#dokumenter}}
{{labels.orderConfirmationToBrukerCaseTitleLabel}}: {{journalpost.saksmappe.offentligTittelSensitiv}}
{{labels.orderConfirmationToBrukerJournalTitleLabel}}: {{journalpost.offentligTittelSensitiv}}
{{labels.orderConfirmationToBrukerDocumentNumberLabel}}: {{journalpost.journalpostnummer}}
{{labels.orderConfirmationToBrukerCaseNumberLabel}}: {{journalpost.saksmappe.saksaar}}/{{journalpost.saksmappe.sakssekvensnummer}}


{{/dokumenter}}
{{/innsynskravGroups}}
{{/innsynskravList.isEmpty}}
{{^isAnonymous}}
{{labels.orderConfirmationToBrukerActionLabel}}: {{baseUrl}}/minside/innsynskrav
{{/isAnonymous}}
{{/content}}
{{/index.txt.mustache}}
