{{<index.txt.mustache}}
{{$content}}

{{labels.orderConfirmationToBrukerTitle}}

{{labels.orderConfirmationToBrukerIntro}}

{{#innsynskravList}}
Saksnr: {{journalpost.saksmappe.saksaar}}/{{journalpost.saksmappe.sakssekvensnummer}} | Dok nr. : {{journalpost.journalpostnummer}} | Sekvensnr.: {{journalpost.journalsekvensnummer}}
Dokument: {{journalpost.offentligTittelSensitiv}}
Dok.dato: {{journalpost.dokumentetsDato}}

  
{{/innsynskravList}}

{{/content}}
{{/index.txt.mustache}}
