<tr>
  <td
    style="padding: 0; margin: 0; padding-bottom: 34px"
  >
    <h1
      style="
        margin: 0;
        line-height: 40px;
        mso-line-height-rule: exactly;
        font-family: 'helvetica neue', helvetica, arial, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        color: #212529;
      "
    >{{$content}}{{/content}}</h1>
  </td>
</tr>
