<a
  href="{{$link}}{{/link}}"
  style="
    color: #0062ba;
    text-decoration: underline;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
    line-height: 21px;
    font-size: 14px;
  "
>{{$content}}{{/content}}</a>
