<p
  style="
    margin: 0;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    mso-line-height-rule: exactly;
    font-family: arial, 'helvetica neue', helvetica, sans-serif;
    line-height: 18px;
    color: #212529;
    font-size: 12px;
  "
>
{{$content}}{{/content}}
</p>
