<tr>
  <td
    aria-hidden="true"
    height="{{$height}}20{{/height}}"
    style="mso-line-height-rule: exactly; line-height: {{$height}}20{{/height}}px; font-size: 0; padding: 0; margin: 0;"
  >
    &nbsp;
  </td>
</tr>
