# Build Spring Boot application with Maven as Docker image and push to Azure Container Registery. Run container scan and Allure tests.
# Create pull request to kubernetes *-cd repo with new image version.
name: Deploy

on:
  workflow_dispatch:
    inputs:
      deployment-environment:
        description: "Deployment environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - test
      container-scan-offline-mode:
        description: "Offline container scan"
        default: false
        type: boolean
  push:
    branches:
      - main
    paths-ignore:
      - ".github/**"
      - ".gitignore"

concurrency: build_update

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  call-workflow-image-build-publish:
    uses: felleslosninger/github-workflows/.github/workflows/ci-spring-boot-build-publish-image.yml@main
    with:
      java-version: 25
      image-name: einnsyn-backend
      image-pack: builder-jammy-base
      container-scan-offline-mode: ${{ inputs.container-scan-offline-mode || false }}
    secrets: inherit

  update-image:
    uses: felleslosninger/github-workflows/.github/workflows/ci-call-update-image.yml@main
    needs: call-workflow-image-build-publish
    with:
      application-name: einnsyn-backend
      deployment-environment: ${{ inputs.deployment-environment || 'test' }}
      image-digest: ${{ needs.call-workflow-image-build-publish.outputs.image-digest }}
      image-name: einnsyn-backend
      image-version: ${{ needs.call-workflow-image-build-publish.outputs.image-version }}
      kubernetes-repo: einnsyn-cd
      product-name: einnsyn
    secrets: inherit

  count-dev-labels:
    runs-on: ubuntu-latest
    needs: [update-image]
    if: ${{ inputs.deployment-environment == 'test' || inputs.deployment-environment == null }}
    outputs:
      dev_pr_count: 0
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Count PRs with "dev" label to main
        run: |
          DEV_PR_COUNT=$(gh pr list --base main --label "dev" --json number --jq ". | length")
          echo "DEV_PR_COUNT=$DEV_PR_COUNT" >> $GITHUB_OUTPUT

  update-dev-image:
    uses: felleslosninger/github-workflows/.github/workflows/ci-call-update-image.yml@main
    needs: [count-dev-labels, call-workflow-image-build-publish]
    if: needs.count-dev-labels.outputs.dev_pr_count == '0'
    with:
      application-name: einnsyn-backend
      deployment-environment: "dev"
      image-digest: ${{ needs.call-workflow-image-build-publish.outputs.image-digest }}
      image-name: einnsyn-backend
      image-version: ${{ needs.call-workflow-image-build-publish.outputs.image-version }}
      kubernetes-repo: einnsyn-cd
      product-name: einnsyn
    secrets: inherit

  update-pr-labels:
    runs-on: ubuntu-latest
    needs: [update-image]
    env:
      DEPLOYMENT_ENV: ${{ github.event.inputs.deployment-environment || 'test' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Remove label from other PRs
        run: |
          OLD_PR_NUMBERS=$(gh pr list --label "$DEPLOYMENT_ENV" --json number --jq ".[] | .number")
          for PR in $OLD_PR_NUMBERS; do
            gh pr edit "$PR" --remove-label "$DEPLOYMENT_ENV"
          done

      - name: Add label to current PR
        run: |
          CURRENT_BRANCH="${GITHUB_REF/refs\/heads\//}"
          CURRENT_PR_NUMBERS=$(gh pr list --base main --head "$CURRENT_BRANCH" --json number --jq ".[] | .number")
          for PR in $CURRENT_PR_NUMBERS; do
            gh pr edit "$PR" --add-label "$DEPLOYMENT_ENV"
          done
